{% extends "base.html" %}
<!-- HEAD -->
{% block title %}Buzzer - {{user.username}}{% endblock %}
{% load hashtags %}
{% load static %}
{% block stylesheets %} <link rel="stylesheet" type="text/css" href="{% static "stylesheets/chat.css" %}	"> {% endblock %}


<!-- BODY -->
{% block content %}
<div class="container">

    <!-- PROFILE INFO -->
    <div class="profile-container">
        <div class="basic-info">
            <a href="{% url 'profile' user=profile.username %}"></a>
            <a href="{% url 'load_image' %}">
                <img class="pfp" src="{{ profile.profile.image.url}}"></a>

            <div class="names">
                <a href="{% url 'profile' user=profile.username %}"><h4 class="username">{{profile.profile.screen_name}}</h4></a>
                <h5 class="usertag">@{{profile.username}}</h5>
            </div>
        </div>
        <br>

        <!--Bio-->
        {% if profile.profile.bio %}
            <div class="bio">
                <p>{{profile.profile.bio}}</p>
            </div>
            <br>
        {% endif %}

        <!--Url-->
        {% if profile.profile.url %}
            <div class="url">
                <i class="fas fa-link"></i>
                <a href="http://{{profile.profile.url}}">{{profile.profile.url}}</a>
            </div>
            <br>
        {% endif %}

        <!--location-->
        {% if profile.profile.location %}
            <div class="gps">
                <i class="fas fa-map-marker-alt"></i>
                <p>{{profile.profile.location}}</p>
            </div>
            <br>
        {% endif %}

        <!--birthday-->
        {% if profile.profile.birthday %}
            <div class="birthday">
                <i class="fas fa-birthday-cake"></i>
                <p>Fecha de nacimiento: {{profile.profile.birthday}}</p>
            </div>
            <br>
        {% endif %}


        {% if user.username == profile.username %}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Editar Perfil
        </button>
        {% else %}
        <a href="{% url 'messages' %}" class="btn btn-warning">Mensaje</a>
        {% endif %}

    </div>

    <!-- MENSAJES -->
    <div class="message-container">
        <h3>Mensajes de <span>{{ profile.profile.screen_name }}</span></h3>

        {% for message in pmessages %}
            <div class="message">
                <div class="basic-info">
                    <a href="{% url 'profile' user=message.user}">
                        <img class="pfp" src="{{ message.user.profile.image.url}}"></a>
                    <div class="names">
                        <a href="{% url 'profile' user=message.user.username %}"><h4 class="username">{{message.user.profile.screen_name}}</h4></a>
                        <h5 class="usertag">@{{message.user.username}}</h5>
                    </div>
                </div>
                <br>
                {{ message.content }}
                <br>
                <div class="message-date">{{ message.date }} </div>
            </div>
        {% endfor %}

        <h3>Envía un mensaje:</h3>
        <form action="{% url 'chat' user=profile.username %}" method="POST" class="msg-form">
            {% csrf_token %}
                {{ pform.as_p }}
            <button type="submit" class="save btn btn-default">Mensaje privado</button>
        </form>        
    </div>
</div>


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLongTitle" >Editar profile</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="{% url 'actualizarProfile' user=user.username %}" method="POST" class="post-form" >
                <div class="modal-body">
                    {% csrf_token %}
                    {{ form2.as_p }}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

<!-- SCRIPTS -->
{% block scripts %}
  <script type="text/javascript" src="{% static "scripts/profile.js" %}"></script>
{% endblock %}