{% extends "base.html" %}

<!-- HEAD -->
{% block title %}Buzzer - Signup page{% endblock %}
{% load static %}
{% load hashtags %}
{% block stylesheets %} <link rel="stylesheet" type="text/css" href="{% static "stylesheets/search.css" %}?version=2	"> {% endblock %}


<!-- BODY -->
{% block content %}

<ul class="nav nav-tabs" id="search_nav">
    {% if buzzs != None %}<li class="active"><a onclick="changeBlockView('buzzs-button')" data-toggle="tab" id="buzzs-button">BUZZERS</a></li>{% endif %}
    {% if users != None %}<li {% if buzzs == None %}class="active"{% endif %}><a onclick="changeBlockView('users-button')" data-toggle="tab" id="users-button">USERS</a></li>{% endif %}
</ul>
<div id="last_tab"></div>

<div class="buzz-container" id="buzzers-container" {% if buzzs == None %} style="display: none" {% endif %}>
    {% if not buzzs %}
        <div class="card">
          <div class="card-body">
            <h3>No results in buzzs for:<br>  -->{{ search_text }}</h3>
          </div>
        </div>
    {% else %}
        {% for buzz in buzzs %}
            <div class="buzz">
                <div class="basic-info">
                    <a href="{% url 'load_image' %}">
                        <img class="pfp" src="{{ profile.profile.image.url}}"></a>
                    <div class="names">
                        <a href="{% url 'profile' user=buzz.user.username %}"><h4 class="username">{{buzz.user.profile.screen_name}}</h4></a>
                        <h5 class="usertag">@{{buzz.user.username}}</h5>
                    </div>
                </div>
                <br>

                {% for x in buzz.text|lista_hash %}
                    {% if x.0 == "#"  %}
                        <a href="{% url 'search' %}">{{ x }}</a>
                    {% else %}
                        {{ x }}
                    {% endif %}
                {% endfor %}
                <br>

                <!-- Multimedia de un buzz -->
                {% if buzz.file_type == 'image' %}
                    <img src="{{buzz.file.url}}" class="multimedia">
                {% elif buzz.file_type == 'video' %}
                    <video width="320" height="240" controls class="multimedia">
                        <source src="{{buzz.file.url}}">
                    </video>
                {% elif buzz.file_type == 'audio' %}
                    <audio controls preload="auto" autobuffer>
                    <source src="{{buzz.file.url}}" type="audio/mpeg">
                        Error con el audio
                    </audio>
                {% endif %}

                <div class="buzz-date">{{ buzz.created_at }} </div>

            </div>
        {% endfor %}
    {% endif %}
</div>

<div class="buzz-container" id="users-container" {% if buzzs != None %} style="display: none" {% endif %} >
    {% if not users %}
        <h3>No results in users for:<br>  -->{{ search_text }}</h3>
    {% else %}
        {% for profile in users %}
            <div class="buzz">
                <div class="basic-info">
                    <a href="{% url 'profile' user=profile.user.username %}">
                        <img class="pfp" src="{% static "images/buzzer_logo.png" %}"></a>
                    <div class="names">
                        <a href="{% url 'profile' user=profile.user.username %}"><h4 class="username">{{ profile.user.first_name}} {{ profile.user.last_name }}</h4></a>
                        <h5 class="usertag">@{{profile.user.username}}</h5>
                    </div>
                </div>
                <br>
                {% if profile.bio %}
                    {{ profile.bio }}
                    <br>
                {% endif %}

                {% if profile.url %}
                    {{ profile.url }}
                    <br>
                {% endif %}

                {% if profile.birthday %}
                    {{ profile.birthday }}
                    <br>
                {% endif %}

                {% if profile.location %}
                    {{ profile.location }}
                    <br>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}

</div>



{% endblock %}

{% block moreJavascript %}
<script type="text/javascript">


    function changeBlockView($id) {

        if ($id === "buzzs-button") {

            document.getElementById("buzzers-container").style.display = "inline-block";
            document.getElementById("users-container").style.display = "none";


        }
        else if ($id === "users-button") {

            document.getElementById("buzzers-container").style.display = "none";
            document.getElementById("users-container").style.display = "inline-block";

        }

    }
</script>
{% endblock %}

